<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/chats">ConvoBoard</a>

        <div class="d-block d-sm-none w-100 mt-2">
            <form class="d-flex" method="GET" action="/chats/search">
                <input class="form-control me-2" type="search" name="q" placeholder="Search chats" aria-label="Search">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
        </div>

        <div class="collapse navbar-collapse d-none d-sm-flex justify-content-end">
            <form class="d-flex" method="GET" action="/chats/search">
                <input class="form-control me-2" type="search" name="q" placeholder="Search chats" aria-label="Search">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>